<div>
    <div class="list-group">
        <a href="javascript:;" class="list-group-item"  ng-repeat="x in vm.names"
        ng-click="vm.showModal()">
            <p class="list-group-item-text">
                <span class="label label-default">Action</span>
                <span class="label label-primary">Class</span>
                <span class="label label-success">Method</span>
                <span class="label label-info">Line</span>
                <span class="label label-warning">Service</span>
                <span class="label label-danger">Version</span>
                <span class="label label-danger">Time</span>
                <span class="label label-danger">Error</span>
            </p>
        </a>
    </div>
</div>

