<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
<div class="modal-body">
        <pre class="code">
{
    "Msg": {
        "Msg": "返回结果",
        "Headers": {},
        "HttpMethod": "",
        "RemoteUrl": "",
        "Params": {},
        "Returns": {
            "RequestId": "26ab31b9-2a97-4ff3-a7c9-7a2b28cb6925",
            "DomainRecordSet": [
                {
                    "KadId": "dn2016111003471101",
                    "DomainRecordId": "dr2016111114495201",
                    "DomainRecordName": "whoami.cnzz.com",
                    "IsHttps": 1,
                    "CertificateId": "ct2016111117420501",
                    "Cname": "89eb09fcb74d149a.qscname.com",
                    "CnameStatus": 0,
                    "RequestThreshold": 200,
                    "ConnectionThreshold": 200,
                    "RecordCcStatus": 1,
                    "SourceCount": 1,
                    "CertifName": "test"
                },
                {
                    "KadId": "dn2016111003471101",
                    "DomainRecordId": "dr2016111114092601",
                    "DomainRecordName": "sayhi.cnzz.com",
                    "IsHttps": 0,
                    "CertificateId": "",
                    "Cname": "63a6706f681b3d6d.qscname.com",
                    "CnameStatus": 0,
                    "RequestThreshold": 120,
                    "ConnectionThreshold": 120,
                    "RecordCcStatus": 0,
                    "SourceCount": 1
                }
            ]
        }
    }
}
		</pre>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Close</button>
</div>
