//
   Created by yangdongxu on 2016/11/15.

.modal-body
    button.btn.btn-default.btn-lg.btn-block(type='button',
    ng-repeat='item in $ctrl.items',
    ng-click='$ctrl.go()') {{item}}
.modal-footer
    button.btn.btn-primary.btn-lg.btn-block(type='button',
    ng-click='$ctrl.close()') ok
